
Div{

}

#div{

}


.jsdjkasbdfjasjdfb{
    height:auto;
    width:auto;
    border:2px solid red;
    background-color:yellow;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 30px;

}

.anotherDiv{
    height:auto;
    width:auto;
    border:2px solid blue;
    background-color:aliceblue
}

.btnxyz{
    background-color: red;
}