<span 
[ngStyle]="{ backgroundColor: isCreated == true ? 'red' : 'yellow' }">
  Sample Text</span
>

<br>

<!-- Element  -->

<!-- pass the laven aqua -->
<!-- render the background the color -->

<input type="text" />


<span appNgMyOwnStyle 
     [myColor]="'aqua'">
     my own style from the custom
     direcive
</span>

<br>

<label appNgMyOwnStyle 
  [myColor]="'yellow'">
  Customer Form
</label>

<p appNgMyOwnStyle [myColor]="'green'">
   some exam is going on
</p>

<!-- @input decarortaor -->
